:root {
    --teal: #00C4CC;
    --primary: #7D2AE8;
    --half-u: 4px;
    --one-u: 8px;
    --one-and-half-u: 12px;
    --two-u: 16px;
    --three-u: 24px;
    --grey-background: #EBECF0;
    --black-07: rgba(64, 87, 109, 0.07);
    --black-20: rgba(53, 71, 90, 0.20);
    --black-30: rgba(43, 59, 74, 0.3);
    --surface-shadow: 0px 10.303px 20.606px 0px rgba(0, 0, 0, 0.07);
    --handle-shadow: 0px 2px 4px -1px var(--Shadow-shadowHandle, rgba(64, 87, 109, 0.30)), 0px 0px 0px 1px var(--Shadow-shadowBorder, rgba(64, 87, 109, 0.04));
}

@font-face {
    font-family: "CanvaSans";
    src: url("./fonts/CanvaSans-Regular.woff2") format("woff2"),
}

body {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

header, main {
    border-radius: var(--one-u);
}

header {
    background: linear-gradient(90deg, var(--teal) 0%, var(--primary) 100%);
    padding: var(--two-u);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-direction: row; */
}

.button-group {
    display: flex;
    gap: 16px;
    align-items: center;
}

.button-group:first-child {
    gap: 24px;
}

button {
    /* background-color: white; */
    border: none;
    min-height: 12px;
    max-height: 40px;

    border-radius: var(--one-u);
}

button.primary.dark {
    background-color: white;
}

button.secondary.dark {
    background-color: var(--black-30);
}

button.primary.text, button.secondary.text {
    width: 124px;
    height: 40px;
}

button.tertiary.dark {
    background-color: white;
}

button.tertiary.light {
    background-color: var(--black-20);
}

button.tertiary.text {
    width: 84px;
    height: 12px;
}

button.icon {
    width: 24px;
    height: 24px;
}

header button.tertiary.icon:first-child {
    width: 20px;
    height: 20px;
}

button.op.icon {
    background-color: var(--grey-background);
    width: 40px;
    height: 40px;
}

menu#op {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 16px;
    border-radius: var(--one-u);

    box-shadow: var(--surface-shadow);
}

main {
    background-color: var(--grey-background);
    padding: var(--one-u);
    display: flex;
    gap: 8px;
    /* flex-direction:  */
    position:relative;
}

/* canvas {
    width: 100%;
    height: 100%;
} */

#thumbline {
    display: flex;
    padding: var(--two-u);
    padding-bottom: var(--one-u);
    gap: var(--one-u)
}

div.page-thumb {
    width: 56px;
    height: 56px;
    border-radius: var(--one-u);
    box-shadow: var(--handle-shadow);
    display: flex;
    align-items: flex-end;
    border: 2px solid transparent;
    /* padding: 8px; */
    /* background-image: url(''); */
}

div.page-thumb:hover {
    cursor: pointer;
}

div.page-thumb.selected, .selected {
    border: 2px solid var(--primary);
}

div.page-thumb > img {
    position: absolute;
    width: 56px;
    height: 56px;
}

div.page-thumb > label {
    font-family: 'CanvaSans';
    font-size: 12px;
    padding: 4px;
}

section#main {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

section#controls {
    display: flex;
    justify-content: space-between;
}

section#canvas {
    height: 100%;
    
}

section#controls section.button-group {
    gap: var(--one-u);
}



menu.contextual-toolbar {
    display: flex;
    align-items: center;
    gap: 2px;
    background-color: white;
    /* border: 8px; */
    padding: var(--half-u);
    position: absolute;
    top: 12px;
    left: 50%;
    border-radius: var(--one-and-half-u);
    box-shadow: var(--surface-shadow);
    visibility: hidden;
}

menu.contextual-toolbar.open {
    visibility: visible;
}

menu.contextual-toolbar button {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    transition: auto;
}

div.swatch {
    background-color: transparent;
    border-radius: var(--one-u);
    padding: 4px;
}

div.swatch:hover {
    background-color: var(--black-07);
    cursor: pointer;
}

div.swatch.active {
    background-color: var(--black-20);
}

menu.contextual-toolbar > div.swatch > button {
    width: 24px;
    height: 24px;
    border-radius: 100%;
}

#rainbow {
    background-image: url('./assets/default-fill.png');
}

menu.swatch-menu {
    position: absolute;
    display: flex;
    border-radius: var(--one-and-half-u);
    box-shadow: var(--surface-shadow);
    gap: var(--half-u);
    background-color: white;
    padding: var(--one-u);
    top: 115%;
    left: 0;
    visibility: hidden; 
}

menu.swatch-menu.open {
    visibility: visible; 
}

/* menu.swatch-menu.open {
    visibility: visible;
} */

menu.swatch-menu > button.swatch {
    width: 28px;
    height: 28px;
    /* border: 2px solid var(--primary); */
    border-radius: 100%;
    border: 1.5px var(--black-07) solid;
}

menu.contextual-toolbar > div.swatch > button:hover, menu.swatch-menu > button.swatch:hover {
    cursor: pointer;
}

menu.swatch-menu > button.swatch:hover {
    border: 1.5px var(--black-20) solid;
}

menu.swatch-menu > button.swatch.selected {
    border: 1.5px var(--primary) solid;
}

#black {
    background-color: black;
}

#pink {
    background-color: #FF98C1;
}

#teal {
    background-color: #4CEEF6;
}

#grey {
    background-color: #E8F7FF;
}

#white {
    background-color: #ffffff;
}

button.swatch:nth-child(6) {
    background-image: url('./assets/add.png');
    background-size: 28px 28px;
    background-position: center;
    /* border-color: var(--grey-background); */
}